/**--------------------------------------------------------------------------------
 * Post Module Default
 * --------------------------------------------------------------------------------
 */
*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  outline: none;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}

[class*="col__"],
[class^="col__"] {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 1px;
}

[class*="col__xs"],
[class^="col__xs"] {
  float: left;
}

.col__full {
  width: 100%;
}

.c__b {
  clear: both;
}

.c__l {
  clear: left;
}

.c__r {
  clear: right;
}

/**
 * Phone
 */
.col__xs-full {
  width: 100%;
}

.col__xs-1_2 {
  width: 50%;
}

.col__xs-1_3 {
  width: 33.33333%;
}

.col__xs-1_4 {
  width: 25%;
}

.col__xs-1_5 {
  width: 20%;
}

.col__xs-1_6 {
  width: 16.66667%;
}

.col__xs-2_3 {
  width: 66.66667%;
}

.col__xs-2_4 {
  width: 50%;
}

.col__xs-2_5 {
  width: 40%;
}

.col__xs-2_6 {
  width: 33.33333%;
}

.col__xs-3_4 {
  width: 75%;
}

.col__xs-3_5 {
  width: 60%;
}

.col__xs-3_6 {
  width: 50%;
}

.col__xs-4_5 {
  width: 80%;
}

.col__xs-4_6 {
  width: 66.66667%;
}

.col__xs-5_6 {
  width: 66.66667%;
}

.xs__h1 {
  font-size: 3.6rem;
}

.xs__h2 {
  font-size: 3rem;
}

.xs__h3 {
  font-size: 2.4rem;
}

.xs__h4 {
  font-size: 2rem;
}

.xs__h5 {
  font-size: 1.8rem;
}

.xs__h6 {
  font-size: 1.6rem;
}

.xs__p {
  font-size: 1.3rem;
}

.large-text .xs__h1 {
  font-size: 3.8rem;
}
.large-text .xs__h2 {
  font-size: 3.2rem;
}
.large-text .xs__h3 {
  font-size: 2.6rem;
}
.large-text .xs__h4 {
  font-size: 2.2rem;
}
.large-text .xs__h5 {
  font-size: 1.8rem;
}
.large-text .xs__h6 {
  font-size: 1.7rem;
}

.mt__xs-0 {
  margin-top: 0;
}

.mt__xs {
  margin-top: 15px;
}

.mt__xs-2 {
  margin-top: 30px;
}

.mb__xs-0 {
  margin-bottom: 0;
}

.mb__xs {
  margin-bottom: 15px;
}

.mb__xs-2 {
  margin-bottom: 30px;
}

.pt__xs-0 {
  padding-top: 0;
}

.pt__xs {
  padding-top: 15px;
}

.pt__xs-2 {
  padding-top: 30px;
}

.pb__xs-0 {
  padding-bottom: 0;
}

.pb__xs {
  padding-bottom: 15px;
}

.pb__xs-2 {
  padding-bottom: 30px;
}

.c__xs-l {
  clear: left;
}

.c__xs-r {
  clear: right;
}

.c__xs-b {
  clear: both;
}

.c__xs-n {
  clear: none;
}

/**
 * Tablet
 */
@media only screen and (min-width: 768px) {
  [class*="col__sm"],
  [class^="col__sm"] {
    float: left;
  }

  .col__sm-full {
    width: 100%;
  }

  .col__sm-1_2 {
    width: 50%;
  }

  .col__sm-1_3 {
    width: 33.33333%;
  }

  .col__sm-1_4 {
    width: 25%;
  }

  .col__sm-1_5 {
    width: 20%;
  }

  .col__sm-1_6 {
    width: 16.66667%;
  }

  .col__sm-2_3 {
    width: 66.66667%;
  }

  .col__sm-2_4 {
    width: 50%;
  }

  .col__sm-2_5 {
    width: 40%;
  }

  .col__sm-2_6 {
    width: 33.33333%;
  }

  .col__sm-3_4 {
    width: 75%;
  }

  .col__sm-3_5 {
    width: 60%;
  }

  .col__sm-3_6 {
    width: 50%;
  }

  .col__sm-4_5 {
    width: 80%;
  }

  .col__sm-4_6 {
    width: 66.66667%;
  }

  .col__sm-5_6 {
    width: 66.66667%;
  }

  .sm__h1 {
    font-size: 3.6rem;
  }

  .sm__h2 {
    font-size: 3rem;
  }

  .sm__h3 {
    font-size: 2.4rem;
  }

  .sm__h4 {
    font-size: 2rem;
  }

  .sm__h5 {
    font-size: 1.8rem;
  }

  .sm__h6 {
    font-size: 1.6rem;
  }

  .mt__sm-0 {
    margin-top: 0;
  }

  .mt__sm {
    margin-top: 15px;
  }

  .mt__sm-2 {
    margin-top: 30px;
  }

  .mb__sm-0 {
    margin-bottom: 0;
  }

  .mb__sm {
    margin-bottom: 15px;
  }

  .mb__sm-2 {
    margin-bottom: 30px;
  }

  .pt__sm-0 {
    padding-top: 0;
  }

  .pt__sm {
    padding-top: 15px;
  }

  .pt__sm-2 {
    padding-top: 30px;
  }

  .pb__sm-0 {
    padding-bottom: 0;
  }

  .pb__sm {
    padding-bottom: 15px;
  }

  .pb__sm-2 {
    padding-bottom: 30px;
  }

  .c__sm-l {
    clear: left;
  }

  .c__sm-r {
    clear: right;
  }

  .c__sm-b {
    clear: both;
  }

  .c__sm-n {
    clear: none;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 992px) {
  [class*="col__md"],
  [class^="col__md"] {
    float: left;
  }

  .col__md-full {
    width: 100%;
  }

  .col__md-1_2 {
    width: 50%;
  }

  .col__md-1_3 {
    width: 33.33333%;
  }

  .col__md-1_4 {
    width: 25%;
  }

  .col__md-1_5 {
    width: 20%;
  }

  .col__md-1_6 {
    width: 16.66667%;
  }

  .col__md-2_3 {
    width: 66.66667%;
  }

  .col__md-2_4 {
    width: 50%;
  }

  .col__md-2_5 {
    width: 40%;
  }

  .col__md-2_6 {
    width: 33.33333%;
  }

  .col__md-3_4 {
    width: 75%;
  }

  .col__md-3_5 {
    width: 60%;
  }

  .col__md-3_6 {
    width: 50%;
  }

  .col__md-4_5 {
    width: 80%;
  }

  .col__md-4_6 {
    width: 66.66667%;
  }

  .col__md-5_6 {
    width: 66.66667%;
  }

  .md__h1 {
    font-size: 3.6rem;
  }

  .md__h2 {
    font-size: 3rem;
  }

  .md__h3 {
    font-size: 2.4rem;
  }

  .md__h4 {
    font-size: 2rem;
  }

  .md__h5 {
    font-size: 1.8rem;
  }

  .md__h6 {
    font-size: 1.6rem;
  }

  .mt__md-0 {
    margin-top: 0;
  }

  .mt__md {
    margin-top: 15px;
  }

  .mt__md-2 {
    margin-top: 30px;
  }

  .mb__md-0 {
    margin-bottom: 0;
  }

  .mb__md {
    margin-bottom: 15px;
  }

  .mb__md-2 {
    margin-bottom: 30px;
  }

  .pt__md-0 {
    padding-top: 0;
  }

  .pt__md {
    padding-top: 15px;
  }

  .pt__md-2 {
    padding-top: 30px;
  }

  .pb__md-0 {
    padding-bottom: 0;
  }

  .pb__md {
    padding-bottom: 15px;
  }

  .pb__md-2 {
    padding-bottom: 30px;
  }

  .c__md-l {
    clear: left;
  }

  .c__md-r {
    clear: right;
  }

  .c__md-b {
    clear: both;
  }

  .c__md-n {
    clear: none;
  }
}
/**
 * Desktop
 */
@media only screen and (min-width: 1200px) {
  [class*="col__lg"],
  [class^="col__lg"] {
    float: left;
  }

  .col__lg-full {
    width: 100%;
  }

  .col__lg-1_2 {
    width: 50%;
  }

  .col__lg-1_3 {
    width: 33.33333%;
  }

  .col__lg-1_4 {
    width: 25%;
  }

  .col__lg-1_5 {
    width: 20%;
  }

  .col__lg-1_6 {
    width: 16.66667%;
  }

  .col__lg-2_3 {
    width: 66.66667%;
  }

  .col__lg-2_4 {
    width: 50%;
  }

  .col__lg-2_5 {
    width: 40%;
  }

  .col__lg-2_6 {
    width: 33.33333%;
  }

  .col__lg-3_4 {
    width: 75%;
  }

  .col__lg-3_5 {
    width: 60%;
  }

  .col__lg-3_6 {
    width: 50%;
  }

  .col__lg-4_5 {
    width: 80%;
  }

  .col__lg-4_6 {
    width: 66.66667%;
  }

  .col__lg-5_6 {
    width: 66.66667%;
  }

  .lg__h1 {
    font-size: 3.6rem;
  }

  .lg__h2 {
    font-size: 3rem;
  }

  .lg__h3 {
    font-size: 2.4rem;
  }

  .lg__h4 {
    font-size: 2rem;
  }

  .lg__h5 {
    font-size: 1.8rem;
  }

  .lg__h6 {
    font-size: 1.6rem;
  }

  .mt__lg-0 {
    margin-top: 0;
  }

  .mt__lg {
    margin-top: 15px;
  }

  .mt__lg-2 {
    margin-top: 30px;
  }

  .mb__lg-0 {
    margin-bottom: 0;
  }

  .mb__lg {
    margin-bottom: 15px;
  }

  .mb__lg-2 {
    margin-bottom: 30px;
  }

  .pt__lg-0 {
    padding-top: 0;
  }

  .pt__lg {
    padding-top: 15px;
  }

  .pt__lg-2 {
    padding-top: 30px;
  }

  .pb__lg-0 {
    padding-bottom: 0;
  }

  .pb__lg {
    padding-bottom: 15px;
  }

  .pb__lg-2 {
    padding-bottom: 30px;
  }

  .c__lg-l {
    clear: left;
  }

  .c__lg-r {
    clear: right;
  }

  .c__lg-b {
    clear: both;
  }

  .c__lg-n {
    clear: none;
  }
}
@media only screen and (max-width: 767px) {
  .wpb_column {
    margin-bottom: 15px;
  }
}
@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@keyframes preloader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  45% {
    transform: scale(0.1);
    opacity: 0.5;
  }
  80% {
    transform: scale(1);
    opacity: 1;
  }
}
html.wp-toolbar {
  font-size: 10px;
}

.preloader {
  text-align: center;
}
.preloader > div {
  background-color: #acacaf;
  width: 10px;
  height: 10px;
  overflow: hidden;
  border-radius: 100%;
  margin: 0 5px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
  pointer-events: none;
}
.preloader > div:nth-child(1) {
  -webkit-animation: preloader 1s -0.24s infinite ease;
  animation: preloader 1s -0.24s infinite ease;
}
.preloader > div:nth-child(2) {
  -webkit-animation: preloader 1s -0.12s infinite ease;
  animation: preloader 1s -0.12s infinite ease;
}
.preloader > div:nth-child(3) {
  -webkit-animation: preloader 1s 0s infinite ease;
  animation: preloader 1s 0s infinite ease;
}

/**
 * Support Lazy load
 */
[data-lazy-src] {
  opacity: 0;
  visibility: hidden;
}

[data-lazy-loaded] {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  -ms-transition: opacity 0.4s linear;
}

.thumb-w,
.thumb-i {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.thumb-w {
  background-color: #f3f3f3;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  box-shadow: none;
  position: relative;
  text-align: left;
}
.thumb-w img {
  position: absolute;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100% !important;
}

.thumb-i {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.thumb-o,
.post-thumbnail {
  padding: 0;
  border-width: 0;
  position: relative;
  display: block;
}
.thumb-o.wide .thumb-w,
.post-thumbnail.wide .thumb-w {
  padding-bottom: 56.25%;
}
.thumb-o.uwide .thumb-w,
.post-thumbnail.uwide .thumb-w {
  padding-bottom: 42.85714%;
}
.thumb-o.xwide .thumb-w,
.post-thumbnail.xwide .thumb-w {
  padding-bottom: 33.33333%;
}
.thumb-o.square .thumb-w,
.post-thumbnail.square .thumb-w {
  padding-bottom: 100%;
}
.thumb-o.portrait .thumb-w,
.post-thumbnail.portrait .thumb-w {
  padding-bottom: 140%;
}
.thumb-o.landscape .thumb-w,
.post-thumbnail.landscape .thumb-w {
  padding-bottom: 70%;
}

.updated:not(.published) {
  display: none;
}

.pbs-section-title {
  margin-top: 0;
  margin-bottom: 0;
}

.pbs-section-heading {
  margin-bottom: 30px;
}
.pbs-section-heading.align-center {
  text-align: center;
}

.pbs-module {
  margin: 0;
  background-color: transparent;
  border-width: 0 0 1px 0;
  border-color: rgba(8, 8, 16, 0.08);
  border-style: solid;
  padding: 0 0 15px 0;
  margin-bottom: 15px;
  	/*.format-icon{
  		position: absolute;
  
  	    // left: $base-gutter;
  	    // bottom: $base-gutter;
  
  		top: 50%;
  		left: 50%;
  		bottom: auto;
  		margin-left: -24px;
  		margin-top: -24px;
  		display: none;
  	    color: #fff;
  	    font-size: 1rem;
  	    width: 48px;
  	    height: 48px;
  	    line-height: 48px;
  	    // @include box-shadow( 0 0 10px transparentize(#000, 80%) );
  		
  		&.video{
  	   		display: block;
  			background-image: url('../images/play.svg');
  			background-size: cover;
  			background-repeat: no-repeat;
  		}
  
  	}*/
}
.pbs-module:before, .pbs-module:after {
  content: " ";
  display: table;
}
.pbs-module:after {
  clear: both;
}
.pbs-module:first-child {
  padding-top: 0;
}
.pbs-module:last-child {
  border-width: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.pbs-module .pbs_e-h {
  margin: 0;
  padding: 0;
}
.pbs-module .pbs_e-m {
  clear: none;
}
.pbs-module .pbs_e-m.below {
  margin-top: 10px;
}
.pbs-module .pbs_e-m.above {
  margin-bottom: 10px;
}
.pbs-module .pbs_e-m .meta-info {
  display: inline;
}
.pbs-module .pbs_e-m .meta-info:not(:last-child) {
  margin-right: 20px;
}
.pbs-module .pbs_e-s,
.pbs-module .pbs_e-c {
  margin: 15px 0 0 0 !important;
  padding: 0;
}
.pbs-module .pbs_e-s > *:last-child,
.pbs-module .pbs_e-c > *:last-child {
  margin-bottom: 0;
}
.pbs-module .pbs_e-t {
  /*font-size: 140%;*/
  clear: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 650px;
  line-height: 1.35 !important;
}
.pbs-module .pbs_e-t a {
  color: inherit;
}
.pbs-module:hover .post-edit-link {
  display: inline;
}
.pbs-module .post-edit-link {
  display: none;
}
.pbs-module .pbs_e-p-t .cat-links {
  position: absolute;
  left: 0;
  bottom: 0;
}
.pbs-module .format-icon {
  display: none;
}

.pbs_e-s,
.pbs_e-c {
  font-size: 1.5rem;
}

.pbs-row + .pbs-row:last-child .pbs-col:last-child {
  margin-bottom: 0;
}

.pbs-related {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 1.35;
  font-size: 1.3rem;
}
.pbs-related a {
  color: #080810;
}
.pbs-related li {
  margin-left: 0;
  list-style: none;
  padding-bottom: 0 !important;
}
.pbs-related li:last-child {
  margin-bottom: 0;
}
.pbs-related .pbs_e-t {
  font-weight: normal;
}

.pbs-module-default .pbs_e-p-t, .pbs-module-wide .pbs_e-p-t {
  display: block;
  margin-bottom: 15px;
}

.pbs-module-thumb {
  position: relative;
}
.pbs-module-thumb .pbs_e-p-t {
  width: 84px;
  display: inline-block;
}
.pbs-module-thumb.thumb-in-percent35 .pbs_e-p-t {
  width: 35%;
  min-width: 84px;
}
.pbs-module-thumb.thumb-in-percent45 .pbs_e-p-t {
  width: 35%;
  min-width: 84px;
}

.pbs-module-thumb-left .pbs_e-p-t,
.pbs-module-thumb-alt-left .pbs_e-p-t {
  margin-right: 15px;
  float: left;
}

.pbs-module-thumb-right .pbs_e-p-t,
.pbs-module-thumb-alt-right .pbs_e-p-t {
  margin-left: 15px;
  float: right;
}

.pbs-module-overlay .pbs_e-h {
  position: relative;
  color: #fff;
}
.pbs-module-overlay .pbs_e-h .pbs_e-t {
  margin-bottom: 5px;
}
.pbs-module-overlay .pbs_e-h .pbs_overlay-w {
  position: absolute;
  padding: 15% 15px 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%) ;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%) ;
}
.pbs-module-overlay .pbs_e-h .pbs_overlay-w * {
  color: inherit !important;
}
.pbs-module-overlay .pbs_e-h .pbs_overlay-c {
  overflow: hidden;
}
.pbs-module-overlay .pbs_e-m > span:not(.cat-links) * {
  opacity: .7;
}
.pbs-module-overlay .pbs_e-m > span:not(.cat-links) a:hover {
  opacity: 1;
}
.pbs-module-overlay .pbs_e-p-t {
  display: block;
}
.pbs-module-overlay .pbs_e-p-t .format-icon {
  top: 15px;
  bottom: auto;
  margin-top: 0;
  margin-left: 0;
  left: 15px;
}

.pbs-related li,
.pbs-module-text-list {
  padding: 0 0 10px 17px;
  margin-bottom: 10px;
  position: relative;
}
.pbs-related li:last-child,
.pbs-module-text-list:last-child {
  padding-bottom: 0 !important;
}
.pbs-related li:before,
.pbs-module-text-list:before {
  content: '';
  float: left;
  font-size: 1.6rem;
  line-height: 1;
  vertical-align: top;
  position: absolute;
  left: 0;
  top: 5px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  border: 1px solid #39ADD1;
  width: 6px;
  height: 6px;
}

/**--------------------------------------------------------------------------------
* # Post Blocks General css
* --------------------------------------------------------------------------------
*/
.pbs_e-p-t {
  margin: 0;
}

.pbs.loading .pbs-nav,
.pbs.loading .pbs-content {
  opacity: .5;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
}
.pbs.loading .pbs-loader {
  display: block;
}
.pbs.loading .pbs-nav a {
  display: none;
}
.pbs.first-page .prev *, .pbs.last-page .next * {
  opacity: .3;
  pointer-events: none;
}
.pbs.small-title .entry-title {
  font-size: 1.8rem !important;
}
.pbs.small-title .entry-title.brick-e-t {
  -webkit-line-clamp: 3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  max-width: 500px;
}
.pbs.text-center {
  text-align: center;
}
.pbs.text-center .entry-title,
.pbs.text-center .entry-summary {
  margin-left: auto;
  margin-right: auto;
}
.pbs.text-center .pbs_e-p-t .cat-links {
  right: 0;
  left: 0;
}
.pbs.text-right {
  text-align: right;
}
.pbs.text-right .entry-title,
.pbs.text-right .entry-summary {
  margin-left: auto;
}
.pbs.text-right .pbs_e-p-t .cat-links {
  right: 0;
  left: auto;
}

.pbs-loader {
  display: none;
}

.pbs-header {
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}
.pbs-header .pbs-nav.prev_next_top {
  white-space: nowrap;
  display: block;
  margin-left: auto;
  margin-top: 0;
}

.pbs-title {
  margin-top: 0;
  margin-bottom: 0 !important;
  display: inline-block;
}
.pbs-title span {
  display: inline !important;
}

.pbs-vars {
  display: none;
}

.pbs-filter {
  margin-left: auto;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  font-size: 1.1rem;
  display: inline-block;
  transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
}
.pbs-filter.ready {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
.pbs-filter ul {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
}
.pbs-filter ul li {
  position: relative;
  transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  -ms-transition: background-color 0.1s linear;
  margin: 0;
  list-style: none;
}
.pbs-filter ul li.more {
  display: inline-block;
}
.pbs-filter ul li.more > a:before {
  content: '+';
  font-size: 1.6rem;
  line-height: 1;
  font-family: sans-serif;
  margin-right: 5px;
  color: #39ADD1;
}
.pbs-filter ul li.more.active {
  display: inline-block;
}
.pbs-filter ul li + li > a {
  border-color: rgba(8, 8, 16, 0.08);
  border-style: solid;
  border-width: 0 0 0 1px;
}
.pbs-filter ul li a {
  padding: 0 10px;
  white-space: nowrap;
}
.pbs-filter ul li ul {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  background-color: #fff;
  padding: 3px 10px;
  display: block;
  z-index: 1;
  transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  -ms-transition: opacity 0.1s linear;
  min-width: 130px;
  position: absolute;
  right: 0;
  top: 100%;
  text-transform: capitalize;
  letter-spacing: normal;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 3px 13px rgba(0, 0, 0, 0.15);
}
.pbs-filter ul li ul li {
  color: #555555;
  display: block !important;
}
.pbs-filter ul li ul li a {
  padding: 5px 0;
  display: block;
}
.pbs-filter ul li ul li + li > a {
  border-width: 1px 0 0 0;
}
.pbs-filter ul li:hover > ul {
  visibility: visible;
  pointer-events: auto;
  opacity: 1;
}
.pbs-filter .inline-filter > li {
  display: inline-block;
  vertical-align: middle;
}
.pbs-filter .inline-filter > li.more {
  display: none;
}

.pbs-nav {
  text-align: center;
  line-height: initial;
  margin-top: 30px;
}
.pbs-nav a {
  border: 1px solid rgba(8, 8, 16, 0.08);
  padding: 8px 10px;
  display: inline-block;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.pbs-nav.prev_next_top a {
  border-width: 0;
  padding-left: 10px;
  padding-right: 10px;
}
.pbs-nav.prev_next_top span {
  display: none;
}

.pbs-inner > *:before, .pbs-inner > *:after {
  content: " ";
  display: table;
}
.pbs-inner > *:after {
  clear: both;
}

/**--------------------------------------------------------------------------------
 * ## Post Blocks default
 * --------------------------------------------------------------------------------
 */
.pbs-module-counter {
  position: relative;
}
.pbs-module-counter .pbs_e-h {
  overflow: hidden;
}
.pbs-module-counter .pbs_pcount {
  float: left;
  font-size: 3.6rem;
  line-height: 1;
  vertical-align: top;
  min-width: 32px;
  text-align: center;
  margin-right: 15px;
}

.pbs-9 .pbs-module + .pbs-module,
.pbs-13 .pbs-module + .pbs-module {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (min-width: 768px) {
  .pbs.small-title .entry-title {
    font-size: 1.6rem !important;
  }
  .pbs.small-title .entry-title.brick-e-t {
    font-size: 1.8rem !important;
  }
}
@media only screen and (min-width: 992px) {
  .pbs-row + .pbs-row {
    margin-top: 30px;
  }
}
/**--------------------------------------------------------------------------------
 * ## Bricks
 * --------------------------------------------------------------------------------
 */
.screen-reader-text {
  display: none;
}

.brick-c,
.brick-c-i,
.brick-url,
.brick-bg,
.brick-bg .thumb-w {
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.brick-o {
  padding: 0 !important;
  font-size: 0;
}

.brick-i {
  position: relative;
  height: 0;
  overflow: hidden;
  font-size: 1.5rem;
  padding-bottom: 76%;
  height: 0;
  color: #fff;
}
.brick-i a {
  color: #fff !important;
}
.brick-i * {
  color: inherit;
}

.brick-square .brick-i {
  padding-bottom: 100%;
}

.brick-portrait .brick-i {
  padding-bottom: 140%;
}

.brick-landscape .brick-i {
  padding-bottom: 70%;
}

.brick-c {
  overflow: hidden;
}
.brick-c .brick-e-m.above {
  margin-bottom: 10px;
}
.brick-c .avatar {
  width: 24px;
  height: 24px;
}

.brick-e-t {
  max-width: 450px;
  line-height: 1.25;
  margin: 0;
}
.brick-e-t .brick-e-t-i.wbbt {
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 8px 0 0 0 rgba(255, 255, 255, 0.5), -8px 0 0 0 rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 8px 0 0 0 rgba(255, 255, 255, 0.5), -8px 0 0 0 rgba(255, 255, 255, 0.5);
  text-shadow: none;
}
.brick-e-t .brick-e-t-i.bbwt {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 8px 0 0 0 rgba(0, 0, 0, 0.5), -8px 0 0 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 8px 0 0 0 rgba(0, 0, 0, 0.5), -8px 0 0 0 rgba(0, 0, 0, 0.5);
}

.brick-e-s,
.brick-e-c {
  margin-top: 15px;
  max-width: 650px;
  -webkit-line-clamp: 2;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.brick-e-f {
  margin-top: 15px;
}

.brick-c-i {
  z-index: 3;
  padding: 15px;
  top: auto;
  pointer-events: none;
  background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 110%) ;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 110%) ;
}
.brick-c-i a {
  pointer-events: auto;
}

.vtext-middle .brick-c-i {
  top: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.3) 110%) ;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0.3) 110%) ;
}

.vtext-top .brick-c-i {
  top: 0;
  bottom: auto;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, transparent 100%) ;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%) ;
}

.brick-url {
  display: block;
  z-index: 2;
}

.brick-bg {
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
  position: absolute !important;
}
.brick-bg:before, .brick-bg:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}
.brick-bg:before {
  background-color: #080810;
  opacity: .3;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
}
.brick-o:hover .brick-bg:before {
  opacity: .1;
}

.brick-bg-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .3;
}

.brick-bg .thumb-w {
  position: absolute !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  padding: 0 !important;
  height: 100% !important;
}
.brick-o .brick-bg .thumb-w {
  transition: all 0.45s ease;
  -webkit-transition: all 0.45s ease;
  -ms-transition: all 0.45s ease;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.brick-o:hover .brick-bg .thumb-w {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.pbs-bricks .brick-e-h {
  margin-left: 0;
  margin-right: 0;
}
.pbs-bricks .brick-e-m {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.6);
}
.pbs-bricks .brick-e-m.above {
  margin-top: 0;
  margin-bottom: 10px;
}
.pbs-bricks .brick-e-t {
  margin-bottom: 0;
  margin-top: 0;
  max-width: 550px;
  -webkit-line-clamp: 4;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  color: #fff !important;
}
.pbs-bricks .brick-e-t .first-num {
  font-size: 250%;
  color: inherit;
  display: block;
  line-height: 1;
}
.pbs-bricks .brick-e-t.title-bg {
  padding-left: 8px;
}
.pbs-bricks.bricks-o-w {
  overflow: hidden;
  text-shadow: 0 0.1rem 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
.pbs-bricks.bricks-o-w + .bricks-o-w {
  margin-top: 15px;
}
.pbs-bricks .bricks-i-w {
  position: relative;
  overflow: hidden;
  font-size: 0;
}
.pbs-bricks.no-gaps.bricks-o-w + .bricks-o-w {
  margin-top: 0;
}
.pbs-bricks.no-gaps .bricks-i-w {
  margin: 0;
}
.pbs-bricks.no-gaps .brick-c {
  margin: 0 !important;
  /*&:before{
  	content: '';
  	z-index: 1;
  	pointer-events: none;
  	position: absolute;
  	right: 0;
  	top: 0;
  	bottom: 0;
  	left: 0;
  	display: block;
  	border-width: 0 1px 1px 0;
  	border-color: #000;
  	border-style: solid;
  }*/
}

.flexslider.carousel {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
}
.flexslider.carousel .flex-viewport {
  margin-left: -7.5px;
  margin-right: -7.5px;
}
.flexslider.carousel .slide-inner {
  padding-left: 7.5px;
  padding-right: 7.5px;
}
.flexslider.carousel .slides > li {
  margin: 0;
}
.flexslider.carousel .pbs-module-default .pbs_e-p-t {
  margin-left: 0;
  margin-right: 0;
}

.pbs-14 .pbs-bricks {
  margin-bottom: 15px;
}
.pbs-14 .pbs-bricks .brick-c-i {
  padding: 15px !important;
}
.pbs-14 .pbs-module {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 991px) {
  .pbs-bricks.bricks-o-w.sm-inline {
    overflow-x: auto !important;
    overflow-y: hidden;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
  }
  .pbs-bricks.bricks-o-w.sm-inline .bricks-i-w {
    overflow: initial;
    white-space: nowrap;
  }
  .pbs-bricks.bricks-o-w.sm-inline .brick-o {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    white-space: normal;
    display: inline-block;
    width: 85%;
    vertical-align: top;
    float: none;
  }
}
@media only screen and (min-width: 768px) {
  .brick-c-i {
    padding: 20px;
  }
}
@media only screen and (min-width: 992px) {
  .brick-h-double .brick-i {
    padding-bottom: 152%;
  }

  .brick-h-half .brick-i {
    padding-bottom: 38%;
  }

  .brick-h-40 .brick-i {
    padding-bottom: 40%;
  }

  .brick-h-50 .brick-i {
    padding-bottom: 50%;
  }

  .brick-h-60 .brick-i {
    padding-bottom: 60%;
  }

  .brick-h-70 .brick-i {
    padding-bottom: 70%;
  }

  .brick-h-75 .brick-i {
    padding-bottom: 75%;
  }

  .brick-h-80 .brick-i {
    padding-bottom: 80%;
  }

  .brick-h-90 .brick-i {
    padding-bottom: 90%;
  }

  .brick-h-100 .brick-i {
    padding-bottom: 100%;
  }

  .brick-h-130 .brick-i {
    padding-bottom: 130%;
  }

  .brick-wide .brick-i {
    padding-bottom: 56.25%;
  }

  .brick-uwide .brick-i {
    padding-bottom: 42.85714%;
  }

  .brick-xwide .brick-i {
    padding-bottom: 33.33333%;
  }

  .brick.first-of-row {
    clear: left;
  }

  .pbs-bricks .bricks-i-w {
    margin: -7.5px;
  }
  .pbs-bricks .brick-c {
    margin: 7.5px !important;
  }
  .pbs-bricks .brick-e-t {
    -webkit-line-clamp: 3;
  }
  .pbs-bricks .brick-lg .brick-e-t {
    max-width: 650px;
  }
  .pbs-bricks.medium-gaps.bricks-o-w + .bricks-o-w {
    margin-top: 6px;
  }
  .pbs-bricks.medium-gaps .bricks-i-w {
    margin: -3px !important;
  }
  .pbs-bricks.medium-gaps .brick-c {
    margin: 3px !important;
  }
  .pbs-bricks.big-gaps.bricks-o-w + .bricks-o-w {
    margin-top: 30px;
  }
  .pbs-bricks.big-gaps .bricks-i-w {
    margin: -15px !important;
  }
  .pbs-bricks.big-gaps .brick-c {
    margin: 15px !important;
  }
  .pbs-bricks.small-gaps.bricks-o-w + .bricks-o-w {
    margin-top: 4px;
  }
  .pbs-bricks.small-gaps .bricks-i-w {
    margin: -2px !important;
  }
  .pbs-bricks.small-gaps .brick-c {
    margin: 2px !important;
  }
  .pbs-bricks.xsmall-gaps.bricks-o-w + .bricks-o-w {
    margin-top: 2px;
  }
  .pbs-bricks.xsmall-gaps .bricks-i-w {
    margin: -1px !important;
  }
  .pbs-bricks.xsmall-gaps .brick-c {
    margin: 1px !important;
  }

  .pbs-brick-2x3x2 .brick.first-of-row {
    clear: left;
  }

  .abs-brick {
    position: absolute;
  }

  .abs-brick-t {
    top: 0;
  }

  .abs-brick-r {
    right: 0;
  }

  .abs-brick-b {
    bottom: 0;
  }

  .abs-brick-l {
    left: 0;
  }

  .pbs-brick-symmetry .brick.first-of-row,
  .pbs-brick-2x3x2 .brick.first-of-row {
    clear: left;
  }

  .flexslider.carousel .flex-viewport {
    margin-left: -15px;
    margin-right: -15px;
  }
  .flexslider.carousel .slide-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .brick-c-i {
    padding: 30px;
  }

  .pbs-bricks .brick-e-t {
    -webkit-line-clamp: 4;
  }

  .vtext-top .brick-c-i {
    padding: 30px 30px;
  }
}
.pbs-slider .flex-custom-navigation {
  text-align: center;
  line-height: 45px;
  position: absolute;
  bottom: -45px;
  left: 0;
  right: 0;
}
.pbs-slider .flex-custom-navigation i {
  font-size: 16px;
}
.pbs-slider .flex-custom-navigation > * {
  display: inline-block;
}
.pbs-slider .flex-custom-navigation a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 110%;
}
.pbs-slider .flex-custom-navigation .flex-control-nav {
  position: static;
}
.pbs-slider .flex-custom-navigation .flex-prev {
  margin-right: 15px;
}
.pbs-slider .flex-custom-navigation .flex-next {
  margin-left: 15px;
}

.brick-tax-list {
  padding-left: 0;
  overflow: hidden;
}
.brick-tax-list li {
  width: 50%;
  list-style: none;
  float: left;
  padding-top: 5px;
}
.brick-tax-list li:nth-child(odd) {
  clear: left;
}
.brick-tax-list li:nth-child(even) {
  clear: right;
}

/**--------------------------------------------------------------------------------
 * Post Block Category Brick
 * --------------------------------------------------------------------------------
 */
.pbs-hb-item-image {
  margin-bottom: 15px;
}

@media only screen and (min-width: 992px) {
  .pbs-module-hybrid {
    margin-bottom: 0;
    padding-bottom: 0;
    color: #fff;
  }
  .pbs-module-hybrid:hover .pbs_e-t .thumb-w {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .pbs-module-hybrid .pbs_e-t {
    color: #fff;
  }
  .col__full .pbs-module-hybrid .pbs_e-t {
    font-size: 3.2rem;
  }
  .pbs-module-hybrid .pbs_e-t .thumb-w {
    transition: all 0.45s ease;
    -webkit-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  .pbs-module-hybrid .pbs_e-t a:hover {
    color: #fff;
  }
  .pbs-module-hybrid a:hover {
    color: #fff !important;
  }
  .pbs-module-hybrid .pbs_e-p-t .cat-links {
    top: 0;
    bottom: auto;
  }
  .pbs-module-hybrid .pbs_e-m {
    color: rgba(255, 255, 255, 0.6);
  }
  .pbs-module-hybrid .pbs_e-m a {
    color: #fff;
  }

  .pbs-hb-item-wrapper {
    position: relative;
  }

  .pbs-hb-item-image {
    margin-bottom: 0;
  }

  .pbs-hb-item-content {
    position: absolute;
    padding: 20px 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 110%) ;
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 110%) ;
  }

  .pbs-slider .brick-c-i > * {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1200px) {
  .col__full .pbs-module-hybrid .pbs_e-t {
    font-size: 4.8rem;
  }

  .pbs-slider .brick-c-i > * {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*# sourceMappingURL=style.css.map */
