{% set var_header_sticky = '' %}
{% set var_header_menu_align = '' %}
{% set var_default_header_dark_black = '' %}
{% set var_default_header_absolute = '' %}

{% set var_header_sticky = ' ' ~ header_sticky %}
{% set var_header_menu_align = ' ' ~ header_menu_align %}
{% set var_default_header_dark_black = ' ' ~ default_header_dark_black %}
{% set var_default_header_absolute = ' ' ~ default_header_absolute %}


{% if node.drpn_header_sticky.0.value is not empty %}
	{% set var_header_sticky = ' ' ~ node.drpn_header_sticky.0.value %}
{% else %}
	{% set var_header_sticky = '' %}	
{% endif %}

{% if node.drpn_header_menu_align.0.value is not empty %}
	{% set var_header_menu_align = ' ' ~ node.drpn_header_menu_align.0.value %}
{% else %}
	{% set var_header_menu_align = '' %}
{% endif %}

{% if node.drpn_default_header_dark_black.0.value is not empty %}
	{% set var_default_header_dark_black = ' ' ~ node.drpn_default_header_dark_black.0.value %}
{% else %}
	{% set var_default_header_dark_black = '' %}	
{% endif %}

{% if node.drpn_default_header_absolute.0.value is not empty %}
	{% set var_default_header_absolute = ' ' ~ node.drpn_default_header_absolute.0.value %}
{% else %}
	{% set var_default_header_absolute = '' %}
{% endif %}


<div class="header 1 {{  var_header_sticky  ~ var_header_menu_align ~ var_default_header_dark_black ~ var_default_header_absolute}}">
			<div class="container-fluid">
				<!-- Logo -->
				<div class="header-logo">
					{% if page.branding %}
					{{ page.branding }}
				  {% endif %}
				</div>
				<!-- Fullscreen Menu Toggle -->
				<button class="fm-toggle">
					<span class="lines"></span>
				</button>
			</div><!-- end container -->
		</div>
		
<div class="fullscreen-menu bg-black"><!-- Add your background class here -->
	<div class="fm-wrapper">
		<div class="position-middle">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
						<div class="row">
							<div class="col-12 col-md-6">
								{% if page.menu_toggle %}
								  {{ page.menu_toggle }}
								{% endif %}
							</div>
							<div class="col-12 col-md-6">
								{% if page.content_menu_toggle %}
								  {{ page.content_menu_toggle }}
								{% endif %}
								
							</div>
						</div><!-- end row(inner) -->
					</div>
				</div><!-- end row(outer) -->
			</div><!-- end container -->
		</div><!-- end position-middle -->
		<!-- Close button -->
		<button class="fm-close">
			<span></span>
		</button>
	</div><!-- end fm-wrapper -->
</div>